.new-price-calculator {
	height: 50px;
	margin-top: 20px;
}

#calculator-fields {
	background-color: white;
	height: 100%;
	width: 50%;
	border-radius: 10px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.calculator-field {
	width: 30%;
	margin: auto;
}

select#coin {
	width: 100%;
	margin: auto;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
}

input#investment-amount {
	width: 100%;
	margin: auto;
	height: 25px;
	border: 1px solid black;
	font-weight: bold;
	border-radius: 5px;
	font-size: 20px;	
	text-align: center;
}

div.new-price {
	height: 30px;
	border-left: 3px solid black;
}